---
import Layout from '../layouts/Layout.astro'
---

<Layout>
  <main>
    <h1>Better Auth + Astro + Prisma</h1>
    {
      Astro.locals.user ? (
        <div>
          <p>Welcome back, {Astro.locals.user.name}!</p>
          <a href="/dashboard">Go to Dashboard</a>
        </div>
      ) : (
        <div>
          <a href="/sign-up">Sign Up</a>
          <a href="/sign-in">Sign In</a>
        </div>
      )
    }
  </main>
</Layout>
